%h1 BlueThumb Flickr Search

= form_tag(root_path, method: :get) do
  = text_field_tag :q, params[:q]
  = submit_tag "Search" 

- @results.each do |result|
  %br
  = image_tag result.source

- if params[:q].blank?
  %h2 Start searching
- elsif @results.empty?
  %h2 No results found
