.container.search
  %br
  .row.search__navigation
    = render 'pagination', results: @results

  %br
  .row
    - @results.each do |result|
      .col-lg-3.col-md-4.col-xs-6
        = link_to result.url, target: "_blank" do
          .search__image{ style: "background-image:url(#{result.source})"}

  .row
    .col
    .col.search__greeting
      %br
      - if params[:q].blank?
        %h2 Start searching
      - elsif @results.empty?
        %h2 No results found
    .col
