.search
  - @results.each do |result|
    %br
    = link_to result.url, target: "_blank" do
      = image_tag result.source

  - if params[:q].blank?
    %h2 Start searching
  - elsif @results.empty?
    %h2 No results found

  = will_paginate @results
