body {
  background: #212529;
  color: white;
}

.bg-darkest {
  background-color: black;
}

// will_paginate override
.pagination {
  & > a, & > .current, & > .gap {
    display: none; 
  }

  .next_page, .previous_page {
    display: block;
    color: white;
    text-decoration: none;

    &.disabled {
      color: grey; 
    }
  }
}
