.search {
  .search__navigation {
    display: flex;
    justify-content: space-between;
  }

  .search__image {
    background-position: center;
    background-size: 110%;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-bottom: 20px;

    &:hover {
      background-size: 100%;
      transition:height .5s ease-out 0s;
    }
  }

  .search__greeting {
    text-align: center;
  }
}
